
img{
    height: 140px;
    width: 200px;
    margin-top: 10%;
}
.h3{
    margin-top: 10%;
}
.s1{
    margin: 0%;
    padding: 0%;
    height: 559px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(168, 176, 185);
    text-align: center;
}