*{
    margin: 0%;
    padding: 0%

}
.ab{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: gainsboro;
    color: black;
    height: 8vh;
}
h1,ul,li,a{
    display: inline-block;
}
.abc > li a{
    padding: 10px;
    text-decoration: none;
    font-size: larger;
}
.abd > li a{
    color: rgb(65, 64, 64);
    margin:  10px;
    text-decoration: none;
    font-size: larger;
    padding: 3px;
}